.containers {
    /* margin-top: 140px; */
    /* padding-top: 40px; */
     display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
 
  /* flex-direction: row; */
  /* padding-left: 100px; */
  /* padding-right: 130px; */
}
.main-container {
    display: flex;

align-items: center;

gap: 120px;
padding: 40px 150px 40px 150px;
 justify-content: center;
 align-items: center;
  /* background: #F8FAFF; */

}
.left-contents {
     width: 416px;
  height: 526px;
  padding-left: 100px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  /* background: #000; */
  flex-shrink: 0;
  /* box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.15); */
  transition: transform 0.25s ease;
}

.videos {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  /* filter: brightness(0.7); */
  transition: filter 0.3s ease;
}

.floating-cards {
  position: absolute;

  top: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
background: #3CB5D5;
  
  width: 203px;
height: 207px;
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
  /* padding: 16px 20px; */
  /* background: #fff; */
  /* border-radius: 16px; */
  /* box-shadow: 0 6px 18px rgba(0,0,0,0.15); */

  z-index: 10;            /* ensures it's above the video */
}
.card-texts{
    color:  #FFF;
font-family: "Paytone One";
font-size: 51px;
font-style: normal;
font-weight: 400;
margin-left: 22px;
line-height: 45px; /* 88.889% */
/* padding: '5px 32px 8px 4px'; */
}
.card-desc {
  color: var(--3, #FFF);
font-family: Inter;
margin-top: 25px;
margin-left: 22px;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25.535px; /* 141.86% */
}
.right-contents {
  display: flex;
   flex-direction: column;
  /* justify-content: center; */
  
  align-items: flex-start;
  gap: 42px;
  flex: 1;
  min-width: 280px;
  padding: 72px 72px 72px 32px;
}
.contents {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  justify-content: center;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: normal;
}
.description {
  color: #000;
 font-family: "Roboto", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 24px;
}
@media (max-width: 768px) {
  .main-container {
   


flex-direction: column;
gap: 24px;
padding: 24px 24px 0px 24px;
 
  /* background: #F8FAFF; */

}

.card-texts{
   


 


font-size: 28px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 13.239px; 

color: #FFF;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 23.537px; /* 84.06% *//* 110.329% */
}
.card-desc {
  
margin-top: 15px;
margin-left: 22px;
 /* 141.86% */
color: #FFF;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 13.239px; /* 110.329% */

}
.left-contents {
    width: auto;
  height: auto;
  padding: 0px;
   padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  
  /* background: #000; */
  flex-shrink: 0;
  /* box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.15); */
  transition: transform 0.25s ease;
}
.videos {
  width: 87vw;
  height: 452px;
  border-radius: 10px;
  
  /* filter: brightness(0.7); */
  
}
.right-contents {

  gap: 0px;
  
  
  padding: 0px 28px 0px 46px;
}
.title {
    
    color: #060B13;
    align-self: stretch;
font-family: "Roboto Condensed" serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .description {
  
 




margin-top: 16px;


color: #060B13;
font-family: Roboto;
font-size: 12px;



}



}
