.section4-container {
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 5px;
}

/* IMAGE spans 2 columns */
.big-image {
  grid-column: span 2;
  /* height: 260px; */
  /* border-radius: 16px; */
  overflow: hidden;
            /* 24px card padding */
  
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.05); */
  min-height: 160px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  
  border-radius: 38px;
  flex-direction: column;
border: 1.5px solid #DFE2ED;
background: #FFF;
}

.big-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CARD STYLE */
.card {
  padding: 24px;          /* 24px card padding */
  
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.05); */
  min-height: 160px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  
  border-radius: 32px;
  flex-direction: column;
border: 1.5px solid #DFE2ED;
background: #FFF;
}
.cards-texts {
    align-self: stretch;
    color: #060B13;
font-family: "Roboto Condensed", sans-serif;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: var(--line-height-heading-lg, 36px); /* 90% */
letter-spacing: var(--letter-spacing-heading-lg, 0);
}
.cards-desc {
    color: #555;
    align-self: stretch;
font-family: Roboto;
font-size: 14px;
margin-top: 35px;
font-style: normal;
font-weight: var(--font-weight-regular-400, 400);
line-height: 180%; /* 25.2px */
}
.cards-button {
    align-self: normal;
    margin-top: 35px;
    border-radius: 999px;
border: 0.8px solid #E5EBF1;
background: #F7F8FA;
display: flex;
width: 145px;
height: 49px;
/* padding-left: 8px; */
justify-content: center;
align-items: center;


flex-direction: row;
 padding-left: 12px;  /* important */
  padding-right: 6px;
 
}
.cards-button span {
    color: #000;
font-family: "Roboto Condensed";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.circles{
  
  border-radius: 50%;
 
  overflow: hidden;          /* clip anything outside the circle */
       /* optional background */
  

aspect-ratio: 1/1;
display: flex;
width: 42px;
/* margin-left: auto; */
margin-left: 10px;
height: 42px;
   
/* padding: 8px 8px 8px 8px; */
justify-content: center;
align-items: center;

/* margin-left: auto;  */
/* margin-right: 10px; */
/* border-radius: 912.13px; */
border: 0.6px solid #FFF;
background: #FFF;
box-shadow: 1px 1px 6px 0 rgba(220, 227, 231, 0.50) inset;
}

.card-numbers {
   align-self:stretch;
    display: flex;
height: 48px;
width:48px;
justify-content: center;
align-items: center;
border-radius: 32px 32px 8px 32px;
border: 1px solid #4868CA;
background: #4868CA;
}
.card-numbers span{
  color: #F9FAFF;
text-align: center;
font-family: var(--font-primary, Onest);
font-size: 16px;
font-style: normal;
font-weight: var(--font-weight-semibold-600, 600);
line-height: 24px; /* 150% */
}
.card1-title {
  align-self:stretch ;
  color: #060B13;
font-family: "Roboto Condensed";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; /* 143.924% */
margin-top: 50px;
}
.card1-desc {
  align-self: stretch;
  color: #555;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: var(--font-weight-regular-400, 400);
line-height: 180%;
margin-top: 8px;
/* margin-bottom: 20px; */
}


