.test-container {
    margin:40px 120px 40px 120px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 32px;
    
}
.test-card {
    border-radius: 20px;
border: 1px solid #E1E1E1;
background: #FFF;
padding: 32px;
display: flex;
flex-direction: column;

}
.card-row {
    /* display: flex; */
    /* flex-direction: row; */

/* display: inline-flex; */
/* padding-right: 12.875px; */
/* align-items: center; */
/* justify-content: center; */
/* gap: 20px; */
/* align-self: flex-start; */
display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}
.test-card-image {
    width: 75px;
height: 75px;
border-radius: 75px;
justify-content: center;
align-items: center;
}
.desc-card {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:16px;
    /* justify-content: center; */
    /* align-items: center; */
   
    align-items: flex-start; 
    justify-content: flex-start;   /* top */
      /* left */
    /* Remove the old centering line! */
    /* align-items: center; */     /* DELETE THIS LINE */
    /* width: fit-content; */
    
}
.user-name {
   color: var(--primary, #000);
font-family: "Roboto Condensed", sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 127.273% */
letter-spacing: -0.055px;
}
.user-title {
   
color: var(--secondary, #414E5E);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.04px;
}
.test-review {
    color: #555;
    margin-top:20px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: -0.035px;
}
.test-starts {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
}