.test-container {
    margin:40px 120px 40px 120px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 32px;
    
}
.test-card {
    border-radius: 20px;
border: 1px solid #E1E1E1;
background: #FFF;
padding: 32px;
display: flex;
flex-direction: column;

}
.card-row {
    /* display: flex; */
    /* flex-direction: row; */

/* display: inline-flex; */
/* padding-right: 12.875px; */
/* align-items: center; */
/* justify-content: center; */
/* gap: 20px; */
/* align-self: flex-start; */
display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}
.test-card-image {
    width: 75px;
height: 75px;
border-radius: 75px;
justify-content: center;
align-items: center;
}
.desc-card {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:16px;
    /* justify-content: center; */
    /* align-items: center; */
   
    align-items: flex-start; 
    justify-content: flex-start;   /* top */
      /* left */
    /* Remove the old centering line! */
    /* align-items: center; */     /* DELETE THIS LINE */
    /* width: fit-content; */
    
}
.user-name {
   color: var(--primary, #000);
font-family: "Roboto Condensed", sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 127.273% */
letter-spacing: -0.055px;
}
.user-title {
   
color: var(--secondary, #414E5E);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 137.5% */
letter-spacing: -0.04px;
}
.test-review {
    color: #555;
    margin-top:20px;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: -0.035px;
}
.test-starts {
    display: flex;
    margin-top: 64px;
    flex-direction: row;
}
@media (max-width : 768px) {
    .test-container {
    margin: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: none;
}
.test-card {
    border-radius: 15px;
border: 1px solid #DCE3E7;
width: 286px;
height: 262px;
padding: 24px;
display: flex;
flex-direction: column;
 flex-shrink: 0;   /* IMPORTANT: prevents squishing */
    /* height: auto;     */

}
.card-row {
    gap:15px;
}
.test-card-image {
    width:56px;
    height: 56px;
    border-radius: 56px;
}
.user-name {
   



color: #060B13;

font-size: 16.5px;


line-height: 21.074px; /* 127.273% */
letter-spacing: -0.041px;
}
.user-title {
   






color: #414E5E;

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16.558px; /* 137.5% */
letter-spacing: -0.03px;
}
.test-review {
  margin-top: 15px;


color: #555;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}
.test-starts {
    margin-top: 24px;
}

}