.section5-container {
    padding: 80px 100px 40px 100px;
}
.footer-titles {
    display: flex;
align-items: center;
gap: 368px;
align-self: stretch;
}
.column1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* width: 366px; */
    
}
.column-next {
    display: flex;
    flex-direction: row;
    gap:200px;
}
.footer-span {
    margin-top: 24px;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.60);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* text-align: center; */
}
.footer-logo {
    display: flex;
    flex-direction: row;

}
.crik-logo {
     height:45px;
}
.logo-criktext {
     font-size: 32px;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;


    color: #022775;
}
.footer-items {
    display: flex;
    flex-direction: column;
    gap:18px;

}
.footer-last-text {
    color: rgba(85, 85, 85, 0.80);
font-family: "Roboto Condensed";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer-last-texts {
    color: #000;
font-family: "Roboto Condensed";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
}
.copyright-text {
    color: #777;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.terms-cond {
 display: flex;
 flex-direction: row;
 gap:50px;
}

@media (max-width: 768px) {
.section5-container {
    padding: 32px 24px 40px 24px;
}
.footer-titles {
    display: flex;
    flex-direction: column;
align-items: normal;
gap: 40px;
align-self: stretch;
}
.column1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* width: 366px; */
    
}
.crik-logo {
    width: 35.874px;
height: 42px;
}

.column-next {
    display: flex;
    flex-direction: row;
   padding-left: 0px;
    gap:64px;
    /* gap:200px; */
}
.footer-span {
    margin-top: 16px;
    

color: #555;

font-size: 12px;

}
.footer-logo {
    display: flex;
    flex-direction: row;
     align-items: center;

}
.crik-logo {
     height:45px;
}
.logo-criktext {



font-size: 22.373px;
font-style: normal;
font-weight: 600;

}
.footer-items {
    display: flex;
    flex-direction: column;
    gap:18px;

}

.footer-last-texts {
   color: #060B13;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}


.terms-cond {
 display: flex;
 flex-direction: row;
 gap:48px;
}


}





