
.head-container {
  position: relative;
  z-index: 10;   /*⭐ Keep header always above glow */
  width: 100%;
  padding: 32px 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo-img {
    height:45px;
       mix-blend-mode: darken;
}

.logo-text {
    font-size: 32px;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;


    color: #022775;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
.logo-text1 {
      font-size: 32px;
    font-weight: 600;
    color: #00CDFF;
     font-family: "Roboto Condensed", sans-serif;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}
.header-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:48px;


}
.selected-title {
      font-size: 16px;
    font-weight: 600;
    
   font-family: "Roboto", sans-serif;

}
.titles {
    font-size: 16px;
    font-weight: 400;
    font-family: roboto;
    font-family: "Roboto", sans-serif;

}
.header-crikbutton {
    display: flex;
   align-items: center;
   justify-content: center;
}

.crik-ai-button {
  padding: 8px 16px;
  border-radius: 25px;
  color:#ffffff;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 0.808px 0.727px rgba(0, 0, 0, 0.14);

 font-family: "Roboto Condensed", sans-serif;
 font-style: normal;
 /* line-height: 23.423px; */
  /* border: 1px solid rgba(255,255,255,0.15);  */
  /* backdrop-filter: blur(6px);  */

  
 
  cursor: pointer;
   border-radius: 25px;
 background: #1C1C1C;
    

    /* This is what Figma applies internally */
    background-blend-mode: screen, normal, normal;

    box-shadow:
        0 0 0 0.808px #000,
        0 -1px 0 0 rgba(255, 255, 255, 0.04) inset;
}

/* .crik-ai-button:hover {
  transform: translateY(-2px);
  box-shadow:
    0 6px 16px rgba(0,0,0,0.55),
    0 0 20px rgba(110, 81, 224, 0.35);
} */
.mobile-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .head-container {
  position: relative;
  z-index: 10;   /*⭐ Keep header always above glow */
  /* width: 100%; */
  padding: 24px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  box-sizing: border-box;
}
.logo-text1 {
     
   
   
    
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
     

font-size: 22.373px;


line-height: 12.585px;
}
}


