.thanks-div {
    display: flex;
    justify-content: center;
    align-items: center;
     /* margin-top: 50vh; */
     flex-direction: column;
     height: 100vh;
}
.thanks-title {
    color: #000;
text-align: center;
font-family: "Roboto Condensed";
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 24px;
}
.thanks-desc {
   color: #555;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
text-align: center;
line-height: normal; 
margin-top: 24px;
}


@media (max-width : 768px) {
.thanks-img {
width: 100px;
height: 100px;
}
.thanks-title {

font-size: 32px;

}
.thanks-desc {
  
font-size: 14px;
margin-top: 8px;
padding-left: 40px;
padding-right: 40px;
}

}